<section class="browser">
	<article class="browser__textContent textContent">
		<p class="textContent__heading">
			New Features
		</p>
		<p class="textContent__heading2">
			Some awesome features
		</p>
		<p class="textContent__text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero animi deleniti. Quaerat harum sed fugit facilis cumque ea, porro error dolor commodi neque voluptate enim reiciendis ullam. Non, obcaecati.
		</p>
	</article>
	<img src="../img/monitor.png" alt="" class="browser__img">
</section>