<section class="clients">
	<div class="wrapper">
		<div class="clients__info cols">
			<div class="col">
				<img src="../img/avatar.jpg" alt="" class="col__img">
				<p class="col__heading col__heading_white">
					Jonathon Doe
				</p>	
				<p class="col__heading col__heading_red">
					Co Founder
				</p>	
				<p class="col__text col__text_italic">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quia officiis, cum saepe voluptate id doloribus fugiat blanditiis omnis ducimus. Eligendi suscipit nostrum rem non, facere possimus repellat! Eius, quis.
				</p>
			</div>
			<div class="col">
				<img src="../img/avatar.jpg" alt="" class="col__img">
				<p class="col__heading col__heading_white">
					Jonathon Doe
				</p>	
				<p class="col__heading col__heading_red">
					Co Founder
				</p>	
				<p class="col__text col__text_italic">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quia officiis, cum saepe voluptate id doloribus fugiat blanditiis omnis ducimus. Eligendi suscipit nostrum rem non, facere possimus repellat! Eius, quis.
				</p>
			</div>
			<div class="col">
				<img src="../img/avatar.jpg" alt="" class="col__img">
				<p class="col__heading col__heading_white">
					Jonathon Doe
				</p>	
				<p class="col__heading col__heading_red">
					Co Founder
				</p>	
				<p class="col__text col__text_italic">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quia officiis, cum saepe voluptate id doloribus fugiat blanditiis omnis ducimus. Eligendi suscipit nostrum rem non, facere possimus repellat! Eius, quis.
				</p>
			</div>
		</div>
		<div class="clients__logos">
			<img src="../img/partner-logo-1.png" alt="">
			<img src="../img/partner-logo-4.png" alt="">
			<img src="../img/partner-logo-5.png" alt="">
			<img src="../img/partner-logo-7.png" alt="">
			<img src="../img/partner-logo-8.png" alt="">
		</div>
	</div>
</section>