<section class="design cols">
	<article class="design__textContent textContent">
		<p class="textContent__heading">
			New Design	
		</p>
		<p class="textContent__heading2">
			There is no other platforms for you as like <span class="red">....</span>	
		</p>
		<p class="textContent__text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero animi deleniti. Quaerat harum sed fugit facilis cumque ea, porro error dolor commodi neque voluptate enim reiciendis ullam. Non, obcaecati.
		</p>
		<p class="textContent__text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat libero animi deleniti. Quaerat harum sed fugit facilis cumque ea, porro error dolor commodi neque voluptate enim reiciendis ullam. Non, obcaecati.
		</p>
	</article>
	<div class="design__decoration">
	</div>
</section>