<section class="features">
	<div class="wrapper">
		<div class="textContent">
			<p class="textContent__heading">
				New features
			</p>
			<p class="textContent__heading2">
				Some awesone features
			</p>	
		</div>
		<div class="cols">
			<div class="col">
				<img src="../img/feature1.png" alt="" class="col__img">
				<p class="col__heading">
					Some awesone features
				</p>	
				<p class="col__text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quia officiis, cum saepe voluptate id doloribus fugiat blanditiis omnis ducimus. Eligendi suscipit nostrum rem non, facere possimus repellat! Eius, quis.
				</p>
			</div>
			<div class="col">
				<img src="../img/feature2.png" alt="" class="col__img">
				<p class="col__heading">
					Some awesone features
				</p>	
				<p class="col__text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quia officiis, cum saepe voluptate id doloribus fugiat blanditiis omnis ducimus. Eligendi suscipit nostrum rem non, facere possimus repellat! Eius, quis.
				</p>
			</div>
			<div class="col">
				<img src="../img/feature3.png" alt="" class="col__img">
				<p class="col__heading">
					Some awesone features
				</p>	
				<p class="col__text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quia officiis, cum saepe voluptate id doloribus fugiat blanditiis omnis ducimus. Eligendi suscipit nostrum rem non, facere possimus repellat! Eius, quis.
				</p>
			</div>
		</div>
	</div>
</section >