<section class="form">
	<div class="wrapper">
		<article class="form__textContent textContent">
			<p class="textContent__heading">
				New Features
			</p>
			<p class="textContent__heading2 textContent__heading2_white">
				Over 1000 designers are using ...
			</p>
		</article>
		<form class="form__items">
			<input type="text" class="form__input" placeholder="full name">
			<input type="email" class="form__input" placeholder="your email">
			<input type="password" class="form__input" placeholder="password">
			<button class="form__button button">Try Now</button>
		</form>
		<p>By Signing up you agree to our <a href="#" class="form__noteUnderline">terms and Services</a>.</p>
	</div>
</section>