.cols {
	display: flex;
	flex-flow: row wrap;
}

.col {
	flex: 1 1 auto;
	margin: 15px;
	padding: 0 20px;
	&__img {
		max-width: 90px;
		max-height: 90px;
	}
	&__heading {
		color: $dark-gray;
		font-size: 22px;
		line-height: 2.271;
		&_white {
			color: white;
		}
		&_red {
			font-size: 16px;
			line-height: 3.125;
			color: $red;
			margin-top: -25px;
		}
	}
	&__text {
		&_italic {
			color: #b3b4b6;
			font-style: italic;
		}
	}	
}

@media screen and (min-width: 900px) {
	.col {
		flex: 0 1 calc(33% - 30px);
		padding: 10px;
	}
}