$white: #ffffff;
$red: #ff6d6d;
$dark-gray: #616161;
$gray: #979797;
$light-gray: #ececec;
$blue: #323969;

@font-face {
    font-family: ExoThin;
    src: url(../fonts/Exo-Thin.ttf);
}

@font-face {
    font-family: Exo;
    src: url(../fonts/Exo-Regular.ttf);
}
